.title-box{
    padding-top: 50px;
    width: 80%;
    .title-text{
        font-size: 2.4rem;
        font-weight: 600;
        margin-left: 50px;
    }
    .student-name-text{
        font-size: 1.6rem;
        font-weight: 400;
        margin-left: 50px;
    }
}
.board-hr{
    margin-bottom: 50px;
}

.single-post-container, .detail-post-container{
    margin-bottom: 50px;
    text-align: center;
    img{
        width: 80%;
    }
}

.multiple-post-poster-container{
    .multiple-post-poster-box{
        cursor: pointer;
        margin-bottom: 20px;
        img{
            width: 100%;
        }
        p{
            margin: 0;
        }
        .multiple-post-title-text{
            font-size: 1.6rem;
            font-weight: 400;
        }
        &:hover{
            img{
                filter:brightness(50%)
            }
        }
    }
}