$title-font-size: 2.2rem;
$name-font-size: 1.8rem;
$words-font-size: 1.4rem;

.col-md-7{
    padding-left: 50px;
    padding-right: 50px;
}

.poster-container{
    padding-top: 50px;
    padding-bottom: 50px;
    
    p{
        font-size: 1.2rem;
        margin: 0;
        font-weight: 200;
    }
    .poster-subtitle-text{
        font-size: 1.8rem;
        margin-top: 1rem;
        margin-bottom: 3rem;
        font-weight: 400;
    }
    .poster-title-text{
        font-size: 2.4rem;
        font-weight: 600;
    }
}

.poster-img{
    width: 100%;
}

.professor-words-container{
    .professor-info{
        .professor-position{
            font-size: $title-font-size;
            font-weight: 500;
        }
        .professor-name{
            font-size: $name-font-size;
            font-weight: 300;
        }
        .professor-major{
            font-size: 1.4rem;
            font-weight: 300;
        }
    }    
    .professor-words-box{
        .professor-words{
            font-size: $words-font-size;
            font-weight: 100;
        }
    }
    
}
.committee-words-container{
    .committee-info{
        .committee-position{
            font-size: $title-font-size;
            font-weight: 500;
        }
        .committee-name{
            font-size: $name-font-size;
            font-weight: 300;
        }
        .committee-img-box{
            .committee-img{
                width: 100%;
            }
        }
    }
    .committee-words-box{
        .committee-position{
            font-size: $title-font-size;
            font-weight: 500;
        }
        .committee-words{
            font-size: $words-font-size;
            font-weight: 100;
        }
    }
}

hr{
    margin-top: 30px;
    margin-bottom: 30px;
}