$mainFont : 'Spoqa Han Sans Neo';
$navHeight : 65px;

html{
    font-size: 62.5%;
}

.App{
    font-family: $mainFont;
}
.navbar{
    font-size: 1.6rem;
    padding: 0;
    height: $navHeight;
    border-bottom: 1px solid gray;
    .navbar-brand{
        font-size: 3.0rem;
        margin-left: 50px;
    }
    .navbar-back-arrow-img{
        width: 30px;
        cursor: pointer;
        margin-left: 50px;
    }
    .navbar-nav{
        flex-direction: row;
    }
    .nav-link{
        margin-right: 50px;
    }
}

.mg-top{
    margin-top: $navHeight;
}
.footer{
    height: 50px;
    background-color: darkgray;
    padding: 1px;
        p{
        margin: 17px;
        text-align: center;
        font-size: 1.2rem;
        color: white;
    }
}